@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F0F2F5;
    --foreground: #050505;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
